<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <form class="form" method="post">
                
                <div class="form-group">
                    <label for="nameTextField">Gift name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter gift name"
                    name="name" 
                    value="<%= gifts.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="retailerTextField">Retailer</label>
                    <input type="text" class="form-control"
                    id="retailerTextField"
                    placeholder="Enter retailer"
                    name="retailer" 
                    value="<%= gifts.retailer %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter price"
                    name="price" 
                    value="<%= gifts.price %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="discountTextField">Discount</label>
                    <input type="text" class="form-control"
                    id="discountTextField"
                    placeholder="Enter discount"
                    name="discount" 
                    value="<%= gifts.discount %>"
                    required>
                </div>
                <br>
                
                <button class="btn-btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit</button>

                <a href="/gift-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>